<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <!--FormControlName is same as in FormBuilder declaration-->
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">LastName</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="drinkPreference">Which drink do you prefer?</label>
      <select id="drinkPreference" class="form-control" formControlName="drinkPreference">
        <option value="Coca">Coca</option>
        <option value="Pepsi">Pepsi</option>
      </select>
    </div>
    <div formArrayName="hobbies">
      <h3>Yours Hobbies</h3>
      <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; index as i" >
        <input type="text" class="form-control" [formControlName]="i" >
      </div>
      <button type="button" class="btn btn-success" (click)="onAddHobby()">
             <em class="fa fa-hand-peace-o"></em> Add a hobby
      </button>
    </div>
    <div>

    </div>
    <!--If form is invalid, the button will be disable-->
    <br>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid" >
        <em class="fa fa-user-md"></em> Add a user
    </button>
  </form>
</div>
