
<nav class="navbar navbar-nav">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
         <li routerLinkActive="true"><a routerLink="about">About us</a></li>
         <li routerLinkActive="true"><a routerLink="auth">Sign In</a></li>
         <li routerLinkActive="true"><a routerLink="devices">Devices List</a></li>
         <li routerLinkActive="true"><a routerLink="edit">Add Device</a></li>
         <li routerLinkActive="true"><a routerLink="users">List Users</a></li>
        <li routerLinkActive="true"><a routerLink="offers">List Offers</a></li>
      </ul>
  </div>
</nav>
<div class="navbar-right">
  <p class="sec">You are login since {{seconds }} seconds !</p>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>


<!--<div class="panel panel-default">
  <div class="panel-body">Panel Content
  <app-device> </app-device>
  </div>
  <button class="btn btn-success" [disabled]="!isAuth">Tout allumer</button>
  <div class="panel-footer">Panel Footer</div>
</div>

<div>
  <app-parent-child [lastname]="lastNamePValue" [age]="agePValue" ></app-parent-child>
</div>
<div>

</div>
<ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>


 <router-outlet></router-outlet>-->
